<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<div class="panel mid">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>
        <h3 class="panel-title">Filter: </h3>
      </li>
      <li>
        <%=form_tag games_path, method:"get" do%>
          <%=select_tag "genre_select", options_for_select(genre_names) %>
          <%=submit_tag "Filter"%>
        <%end%>
      </li>
    </ul>
  <div class="panel body">
    <%if @current.admin%>
      <div><b>Import Games
        <%= form_tag import_games_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
    <% end %>
        <br>
      </b></div>
    <%end%>
    <table class="studentTable">
      <tr>
        <th>Name of Game</th>
        <th>Genre</th>
        <th>System</th>
      </tr>
      <% @games.each do |game| %>
        <tr>
          <td> <%= link_to game.name, game %> </td>
          <td> <%= game.genre %> </td>
          <td> <%= game.system %> </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>

